# GITHUB
.github/agents

# GENERAL IDE
.playwright-mcp/*
.vscode/*

# EXTENSION
extension/extension.zip

# FRONTEND (OVERLAY)
# obs-megabonk-overlay/package-lock.json # Restored to inculde into repository for building purposes
obs-megabonk-overlay/dist/
obs-megabonk-overlay/node_modules/
obs-megabonk-overlay/README.md
obs-megabonk-overlay/src/smartInteractionsStore_experimental.js

# BACKEND (RELAY SERVER)
relay-server/node_modules/
# relay-server/package-lock.json # Restored to inculde into repository for building purposes
relay-server/dist/
relay-server/start-hidden.vbs
relay-server/*.log

# TRAY APP
relay-server/tray/node_modules/
# relay-server/tray/package-lock.json # Restored to inculde into repository for building purposes
relay-server/tray/README.md

# REPO IGNORES
MEGABONK_GAME_KNOWLEDGE.md
RELAY_SERVER_DOCUMENTATION.md
.env

